.prescription__form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: large;
  font-style: italic;
}

.prescription__form-input {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: medium;
}

.prescription__form-error {
  color: red;
  font-size: 0.875rem;
}
